<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* h1{
            color:<%=colour%>
            /* neglect the error */
           /* } */
    </style>
</head>
<body>
    <!-- <% if(ejsday=='saturday'||ejsday=='sunday') { %> -->
    <h1 id="h">It's a <%=ejsday%> </h1>
    <!-- <% } 
    else { %> -->

         <!-- <h1>It's a <%=ejsday%> </h1> -->
    <!-- <% } %> -->
    <script >
        document.querySelector("h1").style.color='<%=colour%>';///.-->class,#-->id
    </script>
</body>
<!-- <script> -->

</html>